<title>Listing Showings</title>

<table>
  <tr>
    <th>Movie</th>
    <th>Showing Time</th>
    <th>Number of available seats</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @showings.each do |showing| %>
  <tr>
    <td><%= showing.movie_id %></td>
    <td><%= showing.showing_time %></td>
    <td><%= showing.number_of_available_seats %></td>
    <td><%= link_to 'Show', showing %></td>
    <td><%= link_to 'Edit', edit_showing_path(showing) %></td>
    <td><%= link_to 'Destroy', showing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Showing', new_showing_path %>
