<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @showing.movie_id %>
</p>

<p>
  <b>Showing time:</b>
  <%= @showing.showing_time %>
</p>

<p>
  <b>Number of available seats:</b>
  <%= @showing.number_of_available_seats %>
</p>


<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
