<!DOCTYPE html>
<html>
<<<<<<< HEAD


=======
<<<<<<< HEAD
<head>
  <title>Ticket Booking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or 
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>
<body>
	<% flash.each do |name, msg| %>
	    <%= content_tag :div, msg, :id => "flash#{name}" %>
	  <% end %>

<%= yield %>


</body>
</html>
=======
<div class="container">
>>>>>>> 415f42c36a5d426dac0a689871fa19ac64b61c52
<head>
<div class = "container">
<div class = "row">
  <title>Movie Bookings</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'partials/header'%> 
</head>
</div>
<div class = "row">	
<div class = "span12 offset2">	

<%= yield %>

</div></div></div>
</html>
<<<<<<< HEAD
=======
</div></div>
>>>>>>> dd6f96aa6c788079a1ea6933ffbd8b3916b205e2
>>>>>>> 415f42c36a5d426dac0a689871fa19ac64b61c52
