<!DOCTYPE html>
<html>


<head>
<div class = "container">
<div class = "row">
  <title>Movie Bookings</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'partials/header'%> 
</head>
</div>
<div class = "row">	
<div class = "span12 offset2">	

<%= yield %>

</div></div></div>
</html>
